.footer{
    background-color:rgba(234, 211, 211, 0.799);
    height: 80px;
    margin-top: 20px;
    text-align: center;
    .redes-sociales-footer{
        display:flex;
        justify-content:center;
        margin-right:10px;
    }
    .iconify{
        width: 30px;
        height: 30px;
    color:red;
    display:flex;
    padding-left: 5px;
    padding-right: 5px;
    }
    }
    