.controls{
    width: 100%;
    background-color: rgba(246, 242, 242, 0.888);
    padding: 11px;
    border-radius: 5px;
    margin-bottom: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: 2px solid rgba(221, 212, 208, 0.855)
}
.form-register{
    width: 400px;
    background-color: rgba(236, 225, 225, 0.961);
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color: withe; 
}
