html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
.titulo{
    color: rgba(224, 13, 13, 0.879);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    }
.texto{
    font-size: large;
    margin-top:28px;
    color: black;
    text-align: center;
    }
    body {
        background-image:linear-gradient(135deg
       ,#d3e4e7,#dad0ce,#dfe1eb,#e8e8f0,#f9f9fa,#f8f1f7,#fffdfd);
       animation: animacion 10s infinite;
       background-size: 500%;
           margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px;
        flex-direction: column;
        min-height: 100vh;

    
    }
    h1{
        font-weight: bold;
        text-align: center;
        font-size: larger;
        margin-top: 10px;
    }
    h2{
        font-weight: bold;
        text-align: center;
       color :map-get($map :$color , $key:primario )
    }
    h3{
        font-weight: bold;
        font-size: 30px;
    }
    .bg-light {
        background-color: rgb(250, 12, 12);
       
       opacity: 1;
      
       height: 50px;
    
    }
  
